In [ ]:
import pandas as pd

df = pd.read_csv('bse_dataset4.csv')
dframe = pd.DataFrame(df)
print(dframe)

In [ ]:
dframe.shape

In [ ]:
dframe.columns

In [ ]:
dframe_new = dframe.dropna()
dframe_new

In [ ]:
# To fill in values in the empty cells
# We use the fillna method

dframe2 = dframe.fillna(value=100)
dframe2

In [ ]:
dframe['Calories'].fillna(100, inplace=True)
dframe

In [ ]:
# Replace using Mean, Median and Mode
# Calculate Mean
data_mean = dframe['Age'].mean()
data_mean

In [ ]:
# Display all rows
pd.set_option('display.max_rows', None)

In [ ]:

# Core of Data preparation and Preprocessing; Empty cells, Wrong formats, Wrong data, Duplicate
# Calculate Median

data_median = dframe["Calories"].median()
data_median

In [ ]:
# Calculate Mode on Age
data_mode = dframe['Age'].mode()
data_mode

In [ ]:
# Wrong Formats Row that is hard to analyze(NaN)
# NaN Row 5 contained NaN values, and we filled them
dframe['Timestamp'].fillna("04/07/2023 09:45:12", inplace=True)
dframe

In [ ]:
# Wrong data 23, 2300 typo
# Row 23, 37 contained typo in data 23, 2300 typo, We changed from data 2300 to data 23
# Wrong data 2199, 21.99

for x in dframe.index:
    if dframe.loc[x, 'gender'] == "Marabou stock":
        dframe.drop(x, inplace=True)
    
dframe

In [ ]:
# Duplicates
print(dframe.duplicated())

In [ ]:
dframe.drop_duplicates(inplace=True)
print(dframe)

In [ ]:
# Data Visualisation, Plotting, matplotlib library(Heatmap, Piechart, Barplot, Lineplot,(Dotted, Dashed)
# Scatterplot library
import matplotlib.pyplot as pl
dframe['Age'].plot(kind= 'bar')